/* Reset de estilo básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo del cuerpo */
body {
    font-family: 'Arial', sans-serif;
    background-color: #1d1f27;
    color: #ffffff;
    line-height: 1.6;
    padding: 0;
    margin: 0;
}

/* Estilo del encabezado */
header {
    background: #14161b;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    position: relative;
    width: 100%;
}

/* Botón de menú */
.menu-toggle {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1001;
}

.menu-toggle .bar {
    display: block;
    width: 30px;
    height: 3px;
    background: #ffffff;
    margin: 5px auto;
    transition: all 0.3s ease;
}

/* Menú lateral */
.side-nav {
    position: fixed;
    top: 0;
    right: -250px; /* Oculto por defecto */
    width: 250px;
    height: 100%;
    background-color: #14161b;
    box-shadow: -3px 0 5px rgba(0, 0, 0, 0.3);
    transition: right 0.3s ease;
    padding: 20px;
    z-index: 1000;
}

.side-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.side-nav ul li {
    margin: 15px 0;
}

.side-nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
}

.side-nav ul li a:hover {
    color: #f39c12;
}

/* Mostrar el menú lateral cuando está activo */
.side-nav.active {
    right: 0;
}

/* Estilo del botón de hamburguesa cuando está activo */
.menu-toggle.active .bar:nth-child(1) {
    transform: rotate(45deg) translateY(8px);
}

.menu-toggle.active .bar:nth-child(2) {
    opacity: 0;
}

.menu-toggle.active .bar:nth-child(3) {
    transform: rotate(-45deg) translateY(-8px);
}

/* Estilo de la sección de bienvenida */
.hero {
    background: url('../img/fondo.png') no-repeat center center/cover;
    color: #ffffff;
    text-align: center;
    padding: 100px 20px 50px;
    margin-top: 60px;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s, transform 1s;
}

.hero.fade-in {
    opacity: 1;
    transform: translateY(0);
}

.hero h2 {
    font-size: 3em;
}

.hero p {
    font-size: 1.5em;
}

/* Estilo de la galería de música */
.gallery {
    padding: 50px 20px;
    background-color: #14161b;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s, transform 1s;
}

.gallery.fade-in {
    opacity: 1;
    transform: translateY(0);
}

.gallery h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2.5em;
}

.albums {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.album {
    background: #1d1f27;
    margin: 15px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
    transition: transform 0.3s ease;
}

.album img {
    width: 100%;
    border-radius: 8px;
}

.album h3 {
    margin: 10px 0;
    font-size: 1.5em;
}

.album p {
    font-size: 1em;
    color: #a0a0a0;
}

.album.scale-up:hover {
    transform: scale(1.05);
}

/* Estilo de los podcasts */
.podcasts {
    padding: 50px 20px;
    background-color: #1d1f27;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s, transform 1s;
}

.podcasts.fade-in {
    opacity: 1;
    transform: translateY(0);
}

.podcasts h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2.5em;
}

.podcast-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.podcast {
    background: #14161b;
    margin: 15px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width: 80%;
}

.podcast h3 {
    margin: 10px 0;
    font-size: 1.5em;
    text-align: center;
}

audio {
    width: 100%;
}

/* Estilo del pie de página */
/* Estilo del pie de página */
footer {
    background: #14161b;
    color: #ffffff;
    text-align: center;
    padding: 30px 20px;
    margin-top: 20px;
}

footer h2 {
    margin-bottom: 10px;
}

footer p {
    margin-bottom: 10px;
}

footer a {
    color: #f39c12;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.social-media {
    margin-top: 10px;
}

.social-media a {
    margin: 0 10px;
    display: inline-block;
}

.social-media img {
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

/* Estilo de la lista de canciones */
.tracklist {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

.tracklist li {
    margin-bottom: 5px;
}

.tracklist a {
    color: #f39c12;
    text-decoration: none;
    font-size: 16px;
}

.tracklist a:hover {
    text-decoration: underline;
}


/* Estilo del cuerpo */
body {
    font-family: 'Arial', sans-serif;
    background-color: #1d1f27;
    color: #ffffff;
    line-height: 1.6;
    padding: 0;
    margin: 0;
}

/* Estilo del encabezado */
header {
    background: #14161b;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    position: relative;
    width: 100%;
}

/* Botón de menú */
.menu-toggle {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1001;
}

.menu-toggle .bar {
    display: block;
    width: 30px;
    height: 3px;
    background: #ffffff;
    margin: 5px auto;
    transition: all 0.3s ease;
}

/* Menú lateral */
.side-nav {
    position: fixed;
    top: 0;
    right: -250px; /* Oculto por defecto */
    width: 250px;
    height: 100%;
    background-color: #14161b;
    box-shadow: -3px 0 5px rgba(0, 0, 0, 0.3);
    transition: right 0.3s ease;
    padding: 20px;
    z-index: 1000;
}

.side-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.side-nav ul li {
    margin: 15px 0;
}

.side-nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
}

.side-nav ul li a:hover {
    color: #f39c12;
}

/* Mostrar el menú lateral cuando está activo */
.side-nav.active {
    right: 0;
}

/* Estilo del botón de hamburguesa cuando está activo */
.menu-toggle.active .bar:nth-child(1) {
    transform: rotate(45deg) translateY(8px);
}

.menu-toggle.active .bar:nth-child(2) {
    opacity: 0;
}

.menu-toggle.active .bar:nth-child(3) {
    transform: rotate(-45deg) translateY(-8px);
}

/* Estilo de la sección de contacto */
.contact {
    padding: 50px 20px;
    background-color: #14161b;
    color: #ffffff;
    text-align: center;
}

.contact h2, .contact h3 {
    margin-bottom: 20px;
}

.contact p {
    margin-bottom: 10px;
}

.contact a {
    color: #f39c12;
    text-decoration: none;
}

.contact a:hover {
    text-decoration: underline;
}

.social-media {
    margin: 20px 0;
}

.social-media a {
    margin: 0 10px;
    display: inline-block;
}

.social-media img {
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

/* Estilo del formulario de contacto */
form {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
    background: #1e1e24;
    padding: 20px;
    border-radius: 10px;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    background: #2e2e34;
    color: #ffffff;
}

form button {
    display: block;
    width: 100%;
    padding: 10px;
    background: #f39c12;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
}

form button:hover {
    background: #e67e22;
}

/* Estilo del mapa */
.map-container {
    margin-top: 20px;
}

.map-container iframe {
    width: 100%;
    border: 0;
    border-radius: 10px;
}
